body{
 background-color: rgb(28, 20, 51);
 text-align: center;
 color: blanchedalmond;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.content_paypal a{
 color: var(--green-color);
}

.image-exito{
 height: 10em;
 border-radius: 1.5em;
}